@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<h2>ViewBag / ViewData 데모</h2>

<h3>@ViewBag.name</h3>
<h3>@ViewBag.age</h3>
<h3>@ViewBag.블라블라</h3>
<h3>@ViewBag.address</h3>
<h3>@ViewData["address"]</h3>